---
import Layout from "../layouts/Layout.astro";

import IconLibrary from "../components/IconLibrary";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-5xl mx-auto p-4">
    <div
      class="relative overflow-hidden py-24 px-6 sm:px-12 lg:px-16 flex flex-col items-center text-center"
    >

      <div class="relative z-10 max-w-4xl mx-auto">
        <h1
          class="text-5xl sm:text-6xl lg:text-7xl font-extrabold text-purple-600 animate-fadeIn mb-4 tracking-tight"
        >
          IconGPT
        </h1>

        <h2
          class="text-lg sm:text-2xl lg:text-2xl text-slate-800 font-semibold leading-relaxed animate-fadeInSlow max-w-2xl mx-auto mb-8 uppercase tracking-wide"
        >
          Iconos hermosos, creados en su mayoría con la ayuda de ChatGPT.
        </h2>
      </div>
    </div>

    <IconLibrary client:load />
  </main>
</Layout>
